<p>
    Hello <%= username %>,
</p>

<div>
    <p>
        Someone, hopefully you, tried to login to your account from a device we don't recognize
    </p>
    <p>Device: <%= deviceInfo %> at <%= ipAddress %></p>
    <p>
        If it was you, click the link below to verify the account
    </p>

    <a href="<%= verificationLink %>">Click here to verify your device</a>
</div>

<p>
    If you are having trouble opening the link above,
    copy the following link to your browser's search bar
</p>
<p><%= verificationLink %></p>